<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jobdongsan.project.dao.IResultDAO">
	<!-- 나의다짐 -->
	<select id="getMyPromise" parameterType="string" resultType="com.jobdongsan.project.model.ResultVO">
	SELECT * FROM result WHERE memId = #{memId}
	</select>
</mapper>