/* 공통 부분 */

/* CooKieRun font */
@import url('https://webfontworld.github.io/cookierun/CookieRun.css');

/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900)
	;

* {
	margin: 0 auto;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-decoration: none !important;
	list-style: none;
	box-sizing: border-box !important;
	outline: none;
}

.gray {
	color: #777777;
}

.red {
	color: #f33333;
}

.white {
	color: #ffffff;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.txt_14 {
	font-size: 14px;
}

.txt_20 {
	font-size: 20px;
}

.txt_25 {
	font-size: 25px;
}

.txt_30 {
	font-size: 30px;
}

.txt_45 {
	font-size: 30px;
}

.bg_y {
	background-color: #FFFACD;
}

.bg_gray {
	background-color: #dddddd;
}

/************* top ********************************/
.top_box {
	
}

/************* 로그인 *****************/
.login_box_wrap {
	border-bottom: 1px solid #777777;
}

.login_box {
	width: 1320px;
	margin: 0 auto;
}

.login {
	width: 200px;
	height: 25px;
	margin: 12px 0 12px auto;
	display: flex;
	justify-content: space-between;
}

.login a {
	color: black;
	font-size: 18px;
}

/************* 메인메뉴 ****************/
.main_menu_wrap {
	background-color: #FFFACD;
	height: 160px;
}

.main_menu_box {
	width: 1320px;
	margin: 0 auto;
}

.main_menu {
	display: flex;
}

/************* 로고 *****************/
.logo {
	position: relative;
	margin: 0;
	cursor: pointer;
}

.logo>img:first-child {
	width: 75px;
	position: absolute;
	transform: rotate(-35deg);
	left: 10px;
	top: 25px;
}

.logo>img:nth-child(2) {
	width: 200px;
	margin: 52px 0 0 45px;
	position: relative;
}

/************* 메뉴 *****************/
.main_menu ul {
	list-style: none;
	display: flex;
	margin: 54px 0 0 173px;
	width: 900px;
	justify-content: space-between;
}

.main_menu ul li {
	display: flex;
	align-items: center;
}

.main_menu ul li img {
	width: 50px;
	margin-right: 10px;
}

.main_menu ul li a {
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-family: 'CookieRun';
}

/************* bottom ********************************/
footer {
	border-top: 1px solid #777777;
}

.bottom_box {
	width: 100%;
}

.bottom_wrap {
	width: 1320px;
	margin: 0 auto;
}

/**************바텀 메뉴****************/
.bottom_menu ul {
	list-style: none;
	display: flex;
}

.bottom_menu ul li {
	width: 248px;
	height: 40px;
	margin: 20px 20px 0 0;
	text-align: center;
	position: relative;
	line-height: 40px;
}

.bottom_menu ul li:not(:last-child)::after {
	content: "";
	border-right: 1px solid #343B3B;
	position: absolute;
	height: 40%;
	top: 12px;
	right: -12px;
}

.bottom_menu ul li a {
	text-decoration: none;
	color: #343B3B;
}

/********************바텀 내용**********************/
.bottom_info_box {
	display: flex;
	width: 1300px;
	justify-content: space-between;
	margin-top: 23px
}

.bottom_info {
	margin-top: 27px;
}

.bottom_info p {
	height: 30px;
	color: #343B3B;
}

.bottom_logo_box {
	width: 500px;
	display: flex;
	justify-content: space-between;
}

.bottom_logo_box img {
	width: 210px;
}

.bottom_logo {
	width: 248px;
	height: 85px;
	margin-top: 27px;
}

.bottom_logo img:first-child {
	width: 178px;
	filter: brightness(0.7);
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

.bottom_logo img:last-child {
	width: 248px;
	filter: invert(0.5);
	display: block;
}

/******************* 탑버튼 ***********************/
.btns {
	float: right;
	width: 100px;
	position: sticky;
	right: 70px;
	bottom: 70px;
	z-index: 10;
	text-align: center;
	cursor: pointer;
}

/* .btns {
    float: right;
    position: fixed;
    width: 100px;
    right: 70px;
    bottom: 70px;
    cursor: pointer;
} */
.btns .btn_top_up {
	width: 31px;
}

.btns p {
	font-size: 25px;
	color: #B76DCA;
	margin: 0;
}

.btns .btn_top {
	width: 100px;
	display: block;
	margin: 0;
	margin-bottom: 5px;
}

.btns .chatbot {
	width: 100px;
	display: block;
	margin: 0;
}

header p, footer p {
	margin: 0;
}

/******************* 챗봇 ***********************/
.chat_box div {
	font-size: 25px;
	font-family: 'CookieRun';
}

.chat_box {
	display: none;
	z-index: 10;
	right: 130px;
	top: -465px;
	/*  */
	position: absolute;
	width: 560px;
	height: 710px;
	text-align: center;
	filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}

#chat_box_title {
	background-color: #FFFACD;
	border-radius: 40px 40px 0px 0px;
	padding: 20px;
}

.chat_detail {
	background-color: white;
	border-radius: 0px 0px 40px 40px;
}

.chatbot_box {
	height: 580px;
}

.user_box {
	background-color: #FFFACD;
	border-radius: 0px 0px 40px 40px;
	padding: 20px;
}

#main_chat_message {
	font-family: 'CookieRun';
	font-size: 17px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 10px;
	border: none;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
	width: 390px;
	height: 40px;
}

#main_chat_submit {
	margin-left: 20px;
	font-family: 'CookieRun';
	font-size: 18px;
	background-color: #F0E3FF;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	border: none;
	width: 80px;
	height: 40px;
}