@charset "UTF-8";

section {
	width: 1100px;
    height: 650px;  
    border-radius: 50px;
    background-image: url("../images/kitchen.jpg");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    border: 1px solid white;
    display: flex;
}

.side_wrap {
	background-color: rgba(0, 0, 0, 0.5);
	width: 210px;
	height: 650px;
	margin: 0;
	border-radius: 50px;
	position: fixed;
}

.contents_wrap {
	position: relative;
	margin-left: 210px;
	width: 890px;
}

/***************** 사이드 목록 버튼 **********************/

ul li .test_side_menu {
	width: 120px;
	height: 120px;
	background-color: white;
	border-radius: 40px;
	margin-top: 68px;
	cursor: pointer;
	opacity: 0.5;
}

ul li .test_side_menu img {
	width: 90px;
	margin: 15px 0 0 15px;
	opacity: 0.5;
}

ul li .side_menu_name {
	position: relative;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: black;
	margin-top: -20px;
	border-radius: 20px;
	font-family: 'CookieRun';
	font-size: 13px;
	color: white;
	text-align: center;
	opacity: 0.5;

}

/***************** 컨텐츠 내용 **********************/

.kitchen_table {
	position: absolute;
	top: 345px;
	left: 45px;
}

.chat {
	position: absolute;
	width: 440px;
	left: 420px;
	top: -24px;
}

.chat img {
	width: 440px;
}

.chat p {
	font-family: 'CookieRun';
	text-align: center;
}

.chat .chat_title {
	width: 170px;
	height: 60px;
	font-size: 35px;
	margin-top: -350px;
	margin-left: 140px;
	
}

.chat .chat_contents {
	width: 300px;
	height: 100px;
	font-size: 25px;
	margin: 20px 0 0 70px;
}

.back_arrow {
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 35px;
	background-color: #565656;
	left: 765px;
	top: 20px;
	cursor: pointer;
}

.interest_arrow {
	width: 50px;
	margin: 20px;
}

.plate {
	position: absolute;
	width: 140px;
	height: 140px;
	cursor: pointer;
}

.plate .plate_img {
	width: 140px;
}

.plate .food {
	position: absolute;
	width: 80px;
	margin-left: -100px;
	z-index: 1;
}

.plate p {
	font-family: 'CookieRun';
	font-size: 25px;
	text-align: center;
	margin-top: -90px;
	z-index: 2;
}

.plate:nth-child(5) {
	top: 480px;
	left: 430px;
}

.plate:nth-child(6) {
	top: 480px;
	left: 570px;
}

.plate:nth-child(7) {
	top: 480px;
	left: 710px;
}

/*********************** 캐릭터 ***********************/

.cooking {
	position: absolute;
	width: 235px;
	left: 220px;
	top: 190px;
}

/************** 토글 박스들 ******************/

