@charset "UTF-8";

.section div {
	font-family: 'CookieRun';
	font-size: 17px;
}

h2 {
	font-family: 'CookieRun';
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

h4 {
	font-family: 'CookieRun';
	cursor: pointer;
}

strong {
	font-family: 'CookieRun';
	font-size: 20px;
	cursor: pointer;
}

b {
	font-family: 'CookieRun';
	font-size: 25px;
	cursor: pointer;
}

.section_wrap {
	width: 1320px;
	position: relative;
	margin-top: -500px;
}

#background {
	width: 100%;
	height: 500px;
	background-image: url("../images/background.png");
}

#background_star {
	position: relative;
	margin-left: 900px;
	margin-top: -350px;
	top: 140px;
}

#map_detail_title {
	font-family: 'CookieRun';
	display: flex;
	align-items: center;
	width: 400px;
	height: 60px;
	margin-top: 90px;
	margin-bottom: 70px;
}

#map_detail_sub_title {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#map_bookmark {
	position: absolute;
	bottom: 260px;
	left: 20px;
}

#map_info {
	border: 3px solid black;
	border-radius: 50px;
	backdrop-filter: blur(7px);
	/*  */
	display: flex;
	align-items: center;
	width: 1320px;
	height: 350px;
	margin-bottom: 50px;
}

#map_info_logo {
	border-right: 2px solid black;
	/*  */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
}

#map_info_detail {
	/* border: 1px solid red; */
	/*  */
	/* text-align: center; */
	width: 1000px;
}

#map_info_detail_line {
	padding: 10px;
}

#background_donut {
	position: relative;
	margin-left: 180px;
}

#map_category {
	border-top: 3px solid #FF8282;
	border-bottom: 3px solid #FF8282;
	background: #FFEFEF;
	/*  */
	display: flex;
	align-items: center;
	/*  */
	width: 1320px;
	height: 200px;
	margin-bottom: 90px;
	padding: 0px 250px 0px 100px;
}

#map_category_img {
	/* border: 1px solid blue; */
	/*  */
	margin: 10px;
}

#map_category_img img {
	width: 120px;
	height: 120px;
}

#speech_bubble_box1 {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	height: 100px;
	/* margin-bottom: 30px; */
	margin-right: -5px;
}

#speech_bubble_box2 {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	height: 100px;
	margin-bottom: 30px;
	margin-left: -5px;
}

#speech_bubble1 {
	border: 2px solid #FEC703;
	border-style: dashed;
	border-radius: 100px;
	padding: 30px 50px 30px 50px;
	background-color: #FFFACD;
}

#speech_bubble2 {
	border: 2px solid #FF889D;
	border-style: dashed;
	border-radius: 100px;
	padding: 30px 50px 30px 50px;
	background-color: #FFDFDF;
}

#speech_bubble_char2 {
	margin-left: 85px;
}

#map_experience_slide {
	/* 	border: 2px dashed black;
	border-radius: 50px; */
	/*  */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 800px;
	height: 500px;
	margin-bottom: 60px;
}

#map_api {
	border: 1px solid black;
	/* border-radius: 50px; */
	/*  */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 800px;
	height: 500px;
	margin-bottom: 120px;
}