@charset "UTF-8";

.section div {
	font-family: 'CookieRun';
	font-size: 17px;
}

h2 {
	font-family: 'CookieRun';
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

h3 {
	font-family: 'CookieRun';
	font-size: 28px;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
}

li {
	font-family: 'CookieRun';
	font-size: 18px;
	cursor: pointer;
}

section a {
	font-family: 'CookieRun';
	font-size: 18px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

TEXT {
	font-family: 'CookieRun';
	font-size: 22px;
	fill: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
}

.section_wrap {
	width: 1320px;
	position: relative;
	margin-top: -500px;
}

#background {
	width: 100%;
	height: 500px;
	background-image: url("../images/background.png");
}

#map_index_title {
	display: flex;
	align-items: center;
	width: 800px;
	height: 60px;
	margin-top: 90px;
	margin-bottom: 70px;
}

#map_index_sub_title {
	border: 3px solid #fde48a;
	border-radius: 50px;
	/*  */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 80px;
	/*  */
	background: #FFFACD;
	margin-bottom: 30px;
}

#map_img_korea {
	position: relative;
	margin-left: 820px;
	margin-top: -120px;
}

#map_img_korea img {
	width: 100px;
	height: 100px;
}

#map_img_tap {
	position: relative;
	margin-left: 870px;
	margin-top: -50px;
}

#map_img_tap img {
	width: 80px;
	height: 80px;
}

#map_box {
	/* border: 2px solid red; */
	position: relative;
	margin-bottom: 160px;
}

#map_korea {
	position: relative;
	top: 50px;
	left: 390px;
}

#list_title {
	border-bottom: 3px solid #fde48a;
	border-bottom-style: dashed;
	font-size: 20px;
	/*  */
	text-align: center;
	/*  */
	padding: 10px;
}

#list_detail {
	padding: 10px;
}

/******** hidden 지역 박스 ********/
.list_box {
	padding: 10px 20px 10px 20px;
}

#list_seoul {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 100px;
	left: 150px;
}

#list_gyeonggido {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 150px;
	left: 150px;
}

#list_chungcheongnamdo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 350px;
	left: 150px;
}

#list_chungcheongbukdo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 300px;
	left: 150px;
}

#list_jeollabukdo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 500px;
	left: 150px;
}

#list_jeollanamdo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 700px;
	left: 150px;
}

#list_gangwondo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 100px;
	left: 930px;
}

#list_gyeongsangbukdo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 350px;
	left: 930px;
}

#list_gyeongsangnamdo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 600px;
	left: 930px;
}

#list_jejudo {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 920px;
	left: 200px;
}

#list_incheon {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 80px;
	left: 150px;
}

#list_daejeon {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 350px;
	left: 150px;
}

#list_gwangju {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 700px;
	left: 150px;
}

#list_busan {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 700px;
	left: 930px;
}

#list_daegu {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 500px;
	left: 930px;
}

#list_ulsan {
	z-index: 1;
	border: 3px solid #fde48a;
	border-radius: 50px;
	position: absolute;
	width: 300px;
	background-color: white;
	display: none;
	/* 위치 가변 */
	top: 650px;
	left: 930px;
}