@charset "UTF-8";

.section div {
	font-family: 'CookieRun';
	font-size: 17px;
}

h2 {
	font-family: 'CookieRun';
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

h4 {
	font-family: 'CookieRun';
	cursor: pointer;
	font-size: 30px;
}

strong {
	font-family: 'CookieRun';
	font-size: 20px;
	cursor: pointer;
}

#map_info_detail_line a {
	font-family: 'CookieRun';
	font-size: 17px;
	color: black;
}

b {
	font-family: 'CookieRun';
	font-size: 25px;
	cursor: pointer;
}

.section_wrap {
	width: 1320px;
	position: relative;
	margin-top: -500px;
}

#background {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url("../images/background.png");
	z-index: -10;
}

#background_star {
	position: relative;
	margin-left: 900px;
	margin-top: -350px;
	top: 150px;
	z-index: -1;
}

#map_detail_title {
	font-family: 'CookieRun';
	display: flex;
	position: relative;
	align-items: center;
	width: 400px;
	height: 60px;
	margin-top: 90px;
	margin-bottom: 70px;
	z-index: 1;
}

#map_detail_sub_title {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#map_bookmark {
	position: absolute;
	bottom: 260px;
	left: 20px;
}

#map_info {
	border: 2px solid black;
	border-radius: 50px;
	backdrop-filter: blur(7px);
	/*  */
	display: flex;
	align-items: center;
	width: 1320px;
	height: 350px;
	margin-bottom: 70px;
}

#map_info_logo {
	border-right: 2px solid black;
	/*  */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
}

#map_info_logo img {
	width: 60%;
}

#map_info_detail {
	/* border: 1px solid red; */
	/*  */
	/* text-align: center; */
	width: 1000px;
}

#map_info_detail_line {
	padding: 10px;
}

#map_category {
	border-top: 3px solid #fde48a;
	border-bottom: 3px solid #fde48a;
	background: #FFFACD;
	/*  */
	display: flex;
	align-items: center;
	/*  */
	width: 1320px;
	height: 180px;
	margin-bottom: 90px;
	padding: 0px 300px 0px 100px;
}

#map_category_img {
	/* border: 1px solid blue; */
	/*  */
	margin: 10px;
	padding-left: 180px;
}

#map_category_img img {
	width: 130px;
	height: 130px;
}

#speech_bubble_box1 {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	height: 100px;
	margin-bottom: 30px;
	margin-right: -5px;
}

#speech_bubble_box2 {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	height: 100px;
	margin-bottom: 30px;
	margin-left: -5px;
}

#speech_bubble1 {
	border: 2px solid #FEC703;
	border-style: dashed;
	border-radius: 100px;
	padding: 30px 50px 30px 50px;
	background-color: #FFFACD;
}

#speech_bubble2 {
	border: 2px solid #FF889D;
	border-style: dashed;
	border-radius: 100px;
	padding: 30px 50px 30px 50px;
	background-color: #FFDFDF;
}

#speech_bubble_char2 {
	margin-left: 85px;
}

#map_experience {
	/*  */
	width: 1000px;
	margin-bottom: 90px;
}

#map_experience img {
	width: 1000px;
}

#map_api {
	width: 800px;
	height: 500px;
	margin-bottom: 120px;
}

.iw_inner {
	padding: 10px;
}

.iw_inner h3 {
	font-family: 'CookieRun';
	font-size: 19px;
}

.iw_inner p {
	font-family: 'CookieRun';
	font-size: 17px;
}

.maplist_button {
	width: 360px;
	height: 70px;
	margin-top: 95px;
	margin-bottom: 90px;
}

#maplistBtn {
	width: 360px;
	height: 70px;
	background: #FFFACD;
	border-radius: 50px;
	/*  */
	font-family: 'CookieRun';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	/*  */
	border: #FFFACD;
	cursor: pointer;
}

#maplistBtn:hover {
	border: 3px solid #fde48a;
}