<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jobdongsan.project.dao.IJobDAO">
  	<resultMap id="jobResult" type="com.jobdongsan.project.model.JobVO" >
  		<result property="jobNo" column="jobNo" />
  		<result property="jobName" column="jobName" />
  		<result property="jobInfo" column="jobInfo" />
  		<result property="jobImg" column="jobImg" />
  		<result property="jobWork" column="jobWork" />
  		<result property="jobHow" column="jobHow" />
  		<result property="jobNeeds" column="jobNeeds" />
  		<result property="jobValues" column="jobValues" />
  		<result property="jobCtg" column="jobCtg" />
  		<result property="categoryNo" column="categoryNo" />
  	</resultMap>
  	
  	<!-- 전체 직업 출력 -->
  	<select id="listAllJob" resultMap="jobResult">
  		SELECT * FROM job ORDER BY jobNo
  	</select>
  	
  	<!-- 직업 상세 정보 조회 -->
  	<select id="detailViewJob" parameterType="int" resultType="com.jobdongsan.project.model.JobVO">
  		<!-- SELECT * FROM job
  		WHERE jobNo=#{jobNo} -->
  		SELECT j.jobNo, j.jobName, j.jobInfo, j.jobImg, j.jobWork, j.jobHow, j.jobNeeds, j.jobValues, j.jobCtg, c.categoryNo, c.categoryName, c.categoryImg
  		FROM job j, category c
  		WHERE j.categoryNo = c.categoryNo AND j.jobNo=#{jobNo}
  	</select>
  	
  	<!-- 직업 검색 -->
  	<select id="jobSearch" parameterType="hashmap" resultMap="jobResult">
  		SELECT * FROM job WHERE
  		jobName LIKE CONCAT('%', #{keyword}, '%')
  	</select>
  	
  	<!-- 마이페이지에 동일 찜직업이 존재하는지 확인 -->
  	<select id="checkJob" parameterType="hashmap" resultType="int">
  		SELECT COUNT(*)
  		FROM my_history
  		WHERE jobNo=#{jobNo} AND memId=#{memId}
  	</select>
  	
  	<!-- 찜직업 추가  -->
  	<select id="insertJob" parameterType="hashmap">
  		INSERT INTO my_history (memId, jobNo)
  		VALUES(#{memId}, #{jobNo})
  	</select>
  	
  	<!-- 찜직업 삭제 -->
  	<delete id="deleteJob" parameterType="String">
  		DELETE
  		FROM my_history
  		WHERE (NOT jobNo is null AND memId=#{memId})
  	</delete>
  	
  	<!-- 기존 직업 삭제 후 새로 추가 (교체) -->
  	<update id="updateJob" parameterType="HashMap">
  		UPDATE my_history
  		SET jobNo=#{jobNo}
  		WHERE (NOT jobNo is null AND memId=#{memId})
  	</update>
  	
  	<!-- memId에 따른 jobNo가 null 값인지 확인 -->
  	<select id="checkJobNo" parameterType="string" resultType="HashMap">
  		SELECT jobNo
  		FROM my_history
  		WHERE (NOT jobNo is null AND memId=#{memId})
  	</select>
  	
  	<!-- 동일 유형 직업 리스트 조회 -->
  	<select id="listCategoryJob" parameterType="int" resultType="com.jobdongsan.project.model.JobVO">
  		SELECT j.jobNo, j.jobName, j.jobInfo, j.jobImg, j.jobWork, j.jobHow, j.jobNeeds, j.jobValues, j.jobCtg, c.categoryNo, c.categoryName, c.categoryImg
  		FROM job j, category c
  		WHERE j.categoryNo = c.categoryNo AND j.categoryNo=#{categoryNo}
  	</select>
  
  </mapper>