<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jobdongsan.project.dao.ICategoryDAO">
	<resultMap id="userResult" type="com.jobdongsan.project.model.CategoryVO">
		<result property="categoryNo" column="categoryNo" />
		<result property="categoryName" column="categoryName" />
		<result property="categoryInfo" column="categoryInfo" />
		<result property="categoryImg" column="categoryImg" />
	</resultMap>
	
	
</mapper>